<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">홈</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
    <div class="col-sm-5">
        <h3 style="margin-top: 10px">회원가입 페이지</h3>
        <form th:action="@{/signup}" method="post">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" name="name" id="name" required placeholder="이름을 입력하세요"
                       class="form-control form-control-lg">
            </div>

            <div class="form-group">
                <label for="username">아이디</label>
                <input type="text" name="username" id="username" required placeholder="사용하실 아이디를 입력하세요"
                       class="form-control form-control-lg">
            </div>

            <div class="form-group">
                <label for="password">패스워드</label>
                <input type="password" class="form-control form-control-lg" required placeholder="사용하실 패스워드를 입력하세요"
                       name="password"
                       id="password">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control form-control-lg" required minlength="6" placeholder="Email"
                       name="email" id="email"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">이메일은 다른 용도로 사용되지 않습니다</small>
            </div>

            <div class="form-group">
                <label for="marketingAgreement">마케팅 수신여부</label>
                <input type="text" class="form-control form-control-lg" required
                       name="marketingAgreement"
                       id="marketingAgreement">
            </div>

            <div class="form-group">
                <label for="eventAgreement">이벤트 알림 수신여부</label>
                <input type="text" class="form-control form-control-lg" required
                       name="eventAgreement"
                       id="eventAgreement">
            </div>
        </form>
        <button id="btn-save" class="btn btn-primary">가입하기</button>
        <span style="margin-top: 10px"> 이미 계정이 있으신가요? <a class="linkControl" th:href="@{/signin}">로그인</a></span>
    </div>
</div>
<script src="/js/user.js"></script>
</div>
</body>
</html>