<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Admin Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">홈으로 이동</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1 class="display-4">관리자 화면</h1>
    <p>상품 카테고리 / 상품 등록을 할 수 있습니다</p>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text">회원 관리하기</p>
                    <a th:href="@{/user}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="col-sm-2 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <p class="card-text">주문 관리하기</p>
                    <a th:href="@{/order}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="col-sm-2 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-text">상품 관리하기</p>
                    <a th:href="@{/product}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Coupons</h4>
                        <p class="card-text">쿠폰 관리하기</p>
                        <a th:href="@{/coupon}" class="card-link btn btn-primary">Manage</a>

                    </div>
                </div>
            </div>

            <div class="col-sm-2 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Inquiry</h4>
                        <p class="card-text">문의 관리하기</p>
                        <a th:href="@{/inquiry}" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Notice</h4>
                        <p class="card-text">공지사항 관리하기</p>
                        <a th:href="@{/notice}" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
